/**
  * @name hex
  * @author hexthelynx
*/

:root {
  --darkplus-bg: #111617;
  --darkplus-bg2: #1b2324;
  --darkplus-sec: #b7b7b5;
  --darkplus-links: #5c00ce;
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
}
